.divForm {
    width: 500px;
    align-self: center;
    justify-self: center;
    margin-left: 50%;
    margin-right: 50%;
    background-color: #463F3A;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #6d6d6d ;

}

.text {
text-align: center;
}

.tabela{
    width: 90%;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.cen{
justify-content: center;
align-items: center;
}

#msg{
    justify-self: center;
    align-self: center;
    text-align: center;
}